/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
  border-radius: 30px;
  font-size: 1.3rem;
  max-width: 60%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 4px 4px 4px rgba(90, 90, 116, 0.1);
}

button {
  width: 50%;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: rgb(174, 228, 174);
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 4px 4px 4px rgba(90, 90, 116, 0.1);
}

#question {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 90%;
  align-self: center;
}

.playAgainBtn {
  display: none;
}

.playAgainBtn-show {
  background-color: rgb(229, 226, 55);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.submitBtn {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.submitBtn-hide {
  display: none;
}

h1 {
  margin-block-start: 0;
  align-self: center;
}

input {
  padding: 1rem;
  border: none;
  background-color: pink;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 4px 4px 4px rgba(90, 90, 116, 0.1);
}

input::placeholder {
  color: palevioletred;
  font-style: italic;
}

input:focus {
  outline: none;
  background-color: rgb(253, 212, 219);
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 90%;
    padding: 2rem;
  }
  body {
    align-items: start;
    font-size: 1rem;
  }
  button,
  input {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2rem;
    align-self: auto;
  }
  #question {
    max-width: 100%;
  }
}
