/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
  border-radius: 30px;
  font-size: 1.3rem;
  max-width: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  width: 50%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: rgb(174, 228, 174);
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#question {
  font-weight: 700;
  font-size: 1.5rem;
}

.playAgainBtn {
  display: none;
}

.playAgainBtn-show {
  background-color: lightgreen;
  display: block;
}

.submitBtn-hide {
  display: none;
}

h1 {
  margin-block-start: 0;
  align-self: center;
}

input {
  padding: 1rem;
  border: none;
  background-color: pink;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}
