/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.wrapper {
  background-color: #fffdf7;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
  border-radius: 30px;
  font-size: 1.3rem;
  max-width: 60%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 4px 4px 4px rgba(90, 90, 116, 0.1);
}

button {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: #cce2cb;
  color: #6f8f7d;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  box-shadow: 4px 4px 4px rgba(90, 90, 116, 0.1);
}
h1 {
  margin-block-start: 0;
  align-self: center;
}

#question {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 90%;
  align-self: center;
}

input {
  padding: 1rem;
  border: none;
  background-color: rgb(250, 222, 226);
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 4px 4px 4px rgba(90, 90, 116, 0.1);
  width: 90%;
  align-self: center;
}

input::placeholder {
  color: rgb(206, 138, 161);
  font-style: italic;
}

input:focus {
  outline: none;
  background-color: rgb(252, 227, 229);
}

.submitBtn {
  width: 50%;
}

.submitBtn-hide {
  display: none;
}

.playAgainBtn {
  display: none;
}

.playAgainBtn-show {
  display: block;
}

#clearScoreBtn {
  background-color: rgb(245, 245, 155);
  color: rgb(172, 172, 13);
  align-self: auto;
  font-size: 1rem;
  padding: 0.4rem 0.9rem;
  box-shadow: none;
}

@media (max-width: 800px) {
  body {
    align-items: start;
    font-size: 1rem;
  }
  .wrapper {
    max-width: 90%;
    padding: 1.5rem;
  }

  button,
  input {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2rem;
    align-self: auto;
  }
  #question {
    max-width: 100%;
  }
}
